/* Reset margin/padding */
* {
  margin: 0;
  padding: 0;
}

:root {
  --dev-card-aspect-ratio: 6 / 9;
  --card-border-radius: 0.4em;
}

html {
  height: 100%;
  background-color: #faf9f6;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
}

/* Player inventory left */
.player-inventory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  font-size: 2.5vmin;
}

.player-inventory-container {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  background: #7cc5d6;
  padding: 3em 0.7em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-left: none;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;

  --player-inv-card-height: 6em;
}

.player-inventory-tokens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}

.player-inventory-cards {
  display: flex;
  position: relative;

  /* align-items: center; */
  --offset-stack: 0.3rem;
}

.player-inventory-card,
.player-inventory-card-placeholder {
  position: relative;
  height: var(--player-inv-card-height);
  aspect-ratio: var(--dev-card-aspect-ratio);
}

.player-inventory-card > *,
.player-inventory-card-placeholder > * {
  box-shadow: rgba(0 0 0 / 10%) 0 4px 12px;
  border-radius: var(--card-border-radius);
  height: var(--player-inv-card-height);
  aspect-ratio: var(--dev-card-aspect-ratio);
  transition: top 0.3s;
  top: 0;
  position: absolute;
}

.player-inventory-card-placeholder > * {
  position: static;
}

.player-inventory-card-placeholder > *:not(div) {
  visibility: hidden;
}

.player-inventory-card-drawer .player-inventory-card:hover > * {
  top: calc(-1 * var(--player-inv-card-height) / 3);
}

.player-inventory-card-drawer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.player-inventory-card-drawer:hover {
  transition: 0.3s;
}

.player-inventory-card:not(:nth-child(1)) {
  margin-left: -100%;
  transition: 0.5s;
}

.player-inventory-card-drawer:hover .player-inventory-card:not(:nth-child(1)) {
  margin-left: -70%;
  transition: 0.5s;
  padding-left: 0.2rem;
}

/* Reserved cards in current player's inventory */
.player-inventory-reservedcards {
  position: relative;
  display: flex;
  max-width: calc(var(--player-inv-card-height) * var(--dev-card-aspect-ratio));
  min-width: calc(var(--player-inv-card-height) * var(--dev-card-aspect-ratio));
  aspect-ratio: calc(1 / (var(--dev-card-aspect-ratio)));
}

.player-inventory-reservedcards .player-inventory-card-reserved {
  /* position: absolute; */
  max-width: calc(var(--player-inv-card-height) * var(--dev-card-aspect-ratio));
  min-width: calc(var(--player-inv-card-height) * var(--dev-card-aspect-ratio));
  aspect-ratio: calc(1 / (var(--dev-card-aspect-ratio)));
  transition: margin-left 0.3s;
}

.player-inventory-reservedcards .player-inventory-card-reserved:not(:first-child) {
  margin-left: -100%;
}

.player-inventory-reservedcards:hover .player-inventory-card-reserved:not(:first-child) {
  margin-left: 0;
  padding-left: 0.2em;
}

.player-inventory-reservedcards .player-inventory-card-reserved > img {
  position: absolute;
  height: calc(var(--player-inv-card-height) * var(--dev-card-aspect-ratio));
  aspect-ratio: calc((var(--dev-card-aspect-ratio)));
  border-radius: var(--card-border-radius);
  rotate: 90deg;
  box-shadow: rgba(0 0 0 / 10%) 0 4px 12px;
  transform-origin: calc((var(--player-inv-card-height) * var(--dev-card-aspect-ratio)) / 2);
}

.board {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  font-size: 2.8vmin;
}

/* Token colors */
.ruby {
  background: #e83131;
}

.sapphire {
  background: #3a94e8;
}

.emerald {
  background: #2ea356;
}

.diamond {
  background: #f2f2f2;
}

.onyx {
  background: #7d4838;
}

.joker {
  background: #f1b032;
}

/* Board tokens */
.board-tokens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.board-token {
  border-radius: 50%;
  height: 2em;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
}

/* Text for token */
.board-token span {
  font-weight: bold;
  font-size: 1em;
}

/* Board nobles */
.board-nobles {
  display: flex;
  flex-direction: row;
}

.board-noble-card {
  /* maybe needed in future */
  padding: 0 0.7em;
}

.board-nobles .board-noble-card img {
  height: 4em;
  aspect-ratio: 1/1;
  border-radius: 10%;
}

/* Board development cards */
.board-cards {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  --board-deck-margin: 2em;
}

.board-cards-row {
  display: flex;
  flex-direction: row;
}

.board-cards-dev-deck {
  margin-right: var(--board-deck-margin);
}

.board-cards-dev-deck-orient {
  margin-left: var(--board-deck-margin);
}

.board-cards-dev-deck,
.board-cards-dev-deck-orient,
.board-card-dev {
  display: flex;
  align-items: center;
}

.board-cards .board-cards-dev-deck > img,
.board-cards .board-cards-dev-deck-orient > img,
.board-cards .board-card-dev > img,
.board-cards-dev-deck > span,
.board-cards-dev-deck-orient > span,
.board-card-dev > span {
  height: 6em;
  aspect-ratio: var(--dev-card-aspect-ratio);
}

.board-card-dev,
.board-card-dev-orient {
  border-radius: var(--card-border-radius);
}

.board-card-dev {
  background: #eee;
}

.board-card-dev-orient,
.board-cards-dev-deck-orient {
  background: #ffdcdc;
}

.board-cards-dev-selectable {
  display: flex;
  flex-direction: row;
  gap: 0.4em;
}
