/* Reset margin/padding */
* {
  margin: 0;
  padding: 0;
}

:root {
  --dev-card-aspect-ratio: 6 / 9;
  --card-border-radius: 0.4em;
}

html {
  height: 100%;
  background-image:
    linear-gradient(0deg, rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
    url("../images/bluebackground.jpg");
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game-elements {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
}

/* Top Menu Bar */
.top-menu-bar {
  background:
    linear-gradient(
      to left top,
      rgba(3 3 3 / 0%),
      rgba(156 163 177 / 20%)
    );
  margin-bottom: 0;
  width: 100%;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 1rem 1rem 5rem black;
}

.bar {
  background:
    linear-gradient(
      to top,
      rgb(110 81 7),
      rgb(218 165 32),
      rgb(245 204 101)
    );
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 10px black);
  width: 2.4rem;
  height: 0.35rem;
  border: solid;
  border-width: 0.03rem;
  border-color: rgb(82 55 24);
  border-radius: 2rem;
  margin: 6px 0;
}

.menu-icon {
  justify-content: left;
  align-items: flex-start;
  cursor: pointer;
  margin-left: 1rem;
}

.navigation {
  left: -50vw;
  position: fixed;
  width: 25vw;
  height: 100vh;
  background-color: rgb(14 16 28);
  transition: 0.5s;
  z-index: 1000;
}

.navigation ul li {
  color: #f2d675;
  -webkit-text-stroke: 0.03rem rgb(82 55 24);
  text-align: center;
  list-style-type: none;
  font-size: 2em;
  font-weight: 800;
  font-family: Judson, serif;
  letter-spacing: 0.1rem;
  padding: 20%;
  cursor: pointer;
}

.navigation ul li:hover {
  color: white !important;
  -webkit-text-stroke: 0.03rem rgb(82 55 24) !important;
  background-color: rgba(50 69 91 / 62%);
  transition: all 0.3s ease-in-out;
}

.navigation.active {
  left: 0;
  box-shadow: 10px 0 10px -3px rgba(0 0 0 / 42%);
}

.top-menu-title {
  font-size: 2.3rem;
  font-family: Judson, serif;
  font-weight: 800;
  margin: 0 auto;
  letter-spacing: 0.1rem;
  -webkit-text-stroke: 0.03rem rgb(82 55 24);
  background:
    linear-gradient(
      to top,
      rgb(110 81 7),
      rgb(218 165 32),
      rgb(245 204 101)
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 10px black);
}

/* PLAYER INVENTORY */

/* Player inventory left */
.player-inventory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  font-size: 2.5vmin;
}

.player-inventory-container {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background: rgba(104 105 119 / 25%);
  padding: 1em 0.7em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-left: none;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;

  --player-inv-card-height: 6em;
}

.player-prestige-points-container {
  background-image: url("../images/bluebackground.jpg");
  background-size: contain;
  border: 0.2rem solid goldenrod;
  border-radius: 50%;
  height: 3em;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
}

.player-prestige-points-container span {
  font-family: Lobster, cursive;
  font-size: 1.8em;
  color: rgb(245 204 101);
  -webkit-text-stroke: 0.08rem black;
  text-shadow: 1px 3px 5px black;
}

.player-inventory-tokens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}

.player-inventory-cards {
  display: flex;
  position: relative;

  /* align-items: center; */
  --offset-stack: 0.3rem;
}

.player-inventory-card,
.player-inventory-card-placeholder {
  position: relative;
  height: var(--player-inv-card-height);
  aspect-ratio: var(--dev-card-aspect-ratio);
}

.player-inventory-card > *,
.player-inventory-card-placeholder > * {
  box-shadow: rgba(0 0 0 / 10%) 0 4px 12px;
  border-radius: var(--card-border-radius);
  height: var(--player-inv-card-height);
  aspect-ratio: var(--dev-card-aspect-ratio);
  transition: top 0.3s;
  top: 0;
  position: absolute;
}

.player-inventory-card-placeholder > * {
  position: static;
}

.player-inventory-card-placeholder > *:not(div) {
  visibility: hidden;
}

.player-inventory-card-drawer .player-inventory-card:hover > * {
  top: calc(-1 * var(--player-inv-card-height) / 3);
}

.player-inventory-card-drawer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.player-inventory-card-drawer:hover {
  transition: 0.3s;
}

.player-inventory-card:not(:nth-child(1)) {
  margin-left: -100%;
  transition: 0.5s;
}

.player-inventory-card-drawer:hover .player-inventory-card:not(:nth-child(1)) {
  margin-left: -70%;
  transition: 0.5s;
  padding-left: 0.2rem;
}

/* Reserved cards in current player's inventory */
.player-inventory-reservedcards {
  position: relative;
  display: flex;
  max-width: calc(var(--player-inv-card-height) * var(--dev-card-aspect-ratio));
  min-width: calc(var(--player-inv-card-height) * var(--dev-card-aspect-ratio));
  aspect-ratio: calc(1 / (var(--dev-card-aspect-ratio)));
}

.player-inventory-reservedcards .player-inventory-card-reserved {
  /* position: absolute; */
  max-width: calc(var(--player-inv-card-height) * var(--dev-card-aspect-ratio));
  min-width: calc(var(--player-inv-card-height) * var(--dev-card-aspect-ratio));
  aspect-ratio: calc(1 / (var(--dev-card-aspect-ratio)));
  transition: margin-left 0.3s;
}

.player-inventory-reservedcards .player-inventory-card-reserved:not(:first-child) {
  margin-left: -100%;
}

.player-inventory-reservedcards:hover .player-inventory-card-reserved:not(:first-child) {
  margin-left: 0;
  padding-left: 0.2em;
}

.player-inventory-reservedcards .player-inventory-card-reserved > img {
  position: absolute;
  height: calc(var(--player-inv-card-height) * var(--dev-card-aspect-ratio));
  aspect-ratio: calc((var(--dev-card-aspect-ratio)));
  border-radius: var(--card-border-radius);
  rotate: 90deg;
  box-shadow: rgba(0 0 0 / 10%) 0 4px 12px;
  transform-origin: calc((var(--player-inv-card-height) * var(--dev-card-aspect-ratio)) / 2);
}

.board {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  font-size: 2.8vmin;
}

/* Token colors */
.ruby {
  background-image:
    linear-gradient(
      to top,
      rgba(255 93 93 / 30%),
      rgba(39 2 2 / 30%)
    ),
    url(
      "../images/tokens/RubyToken.png"
    );
  background-size: contain;
}

.sapphire {
  background-image:
    linear-gradient(
      to top,
      rgba(231 233 255 / 30%),
      rgba(2 2 41 / 30%)
    ),
    url(
      "../images/tokens/SapphireToken.png"
    );
  background-size: contain;
}

.emerald {
  background-image:
    linear-gradient(
      to top,
      rgba(222 255 224 / 30%),
      rgba(3 34 1 / 30%)
    ),
    url(
      "../images/tokens/EmeraldToken.png"
    );
  background-size: contain;
}

.diamond {
  background-image:
    linear-gradient(
      to top,
      rgba(255 255 255 / 30%),
      rgba(37 37 37 / 30%)
    ),
    url(
      "../images/tokens/DiamondToken.png"
    );
  background-size: contain;
}

.onyx {
  background-image:
    linear-gradient(
      to top,
      rgba(243 216 189 / 30%),
      rgba(49 29 7 / 30%)
    ),
    url(
      "../images/tokens/OnyxToken.png"
    );
  background-size: contain;
}

.joker {
  background-image:
    linear-gradient(
      to top,
      rgba(255 246 220 / 30%),
      rgba(53 44 3 / 30%)
    ),
    url(
      "../images/tokens/GoldToken.png"
    );
  background-size: contain;
}

/* Board tokens */
.board-tokens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.board-token {
  border-radius: 50%;
  height: 2.2em;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
}

/* Text for token */
.board-token span {
  font-family: Lobster, cursive;
  font-size: 1.3em;
  color: white;
  -webkit-text-stroke: 0.08rem black;
  text-shadow: 1px 3px 5px black;
}

/* Board nobles */
.board-nobles {
  display: flex;
  flex-direction: row;
}

.board-noble-card {
  /* maybe needed in future */
  padding: 0 0.7em;
}

.board-nobles .board-noble-card img {
  height: 4em;
  aspect-ratio: 1/1;
  border-radius: 10%;
}

/* Board development cards */
.board-cards {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  --board-deck-margin: 2em;
}

.board-cards-row {
  display: flex;
  flex-direction: row;
}

.board-cards-dev-deck {
  margin-right: var(--board-deck-margin);
}

.board-cards-dev-deck-orient {
  margin-left: var(--board-deck-margin);
}

.board-cards-dev-deck,
.board-cards-dev-deck-orient,
.board-card-dev {
  display: flex;
  align-items: center;
}

.board-cards .board-cards-dev-deck > img,
.board-cards .board-cards-dev-deck-orient > img,
.board-cards .board-card-dev > img,
.board-cards-dev-deck > span,
.board-cards-dev-deck-orient > span,
.board-card-dev > span {
  height: 6em;
  aspect-ratio: var(--dev-card-aspect-ratio);
  border-radius: var(--card-border-radius);
}

.board-card-dev,
.board-card-dev-orient {
  border-radius: var(--card-border-radius);
}

.board-card-dev {
  background: #eee;
}

.board-card-dev-orient {
  background: #ffdcdc;
}

.board-cards .board-cards-dev-deck[empty],
.board-cards .board-cards-dev-deck-orient[empty],
.board-cards .board-card-dev:has(> img:not([src])) {
  visibility: hidden;
}

.board-nobles .board-noble-card img:not([src]) {
  visibility: hidden;
}

.board-cards-dev-selectable {
  display: flex;
  flex-direction: row;
  gap: 0.4em;
}
