.transition1 {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  bottom: 0;
  z-index: 101;
  background-image:
    linear-gradient(
      rgba(0 0 0 / 70%),
      rgba(0 0 0 / 70%)
    ),
    url("../images/mapBackground.jpg");
  background-size: cover;
  transition: 0.4s ease-out;
}

.transition1.is-active {
  left: 0;
}
