---
// import component here when testing new modals
import "../styles/titleScreen.css";
import "../styles/transitions.css";
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Splendor</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- Page Transition -->
        <div class="transition transition1 is-active"></div>

        <div class="title-screen">
            <p class = "title"> Splendor </p>
            <button class="title-login-button" id="title-login-button">Login</button>
        </div>
    </body>

    <script type="module" src="js/titleScreen.js"> </script>

</html>