---
import LobbyNavMenu from "../components/LobbyNavMenu.astro";
import "../styles/lobby.css";
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
        <title>Lobby</title>

        <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
        <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/md5.min.js"></script>
    </head>
    <body>
        <LobbyNavMenu title=" Lobby "></LobbyNavMenu>
        <main selected="sessions">
            <div class="select-section">
                <div id="select-sessions" class="selected"><span>Sessions</span></div>
                <div id="select-loadgame"><span>Load a Game</span><span class="notification-icon"></span></div>
            </div>
            <section id="section-sessions" class="content">
                <div class="current-sessions">
                    <div class="header">
                        <span>Available Sessions</span>
                        <!-- SELECT GAME VERSION -->
                        <div class="game-selection-dropdown">
                            <div class="select">
                                <span class="create-session-btn">Create Session</span>
                                <div class="caret"></div>
                            </div>
                            <ul class="game-options">
                                <li version="BASE_ORIENT">Splendor Orient</li>
                                <li version="BASE_ORIENT_CITIES">Splendor Cities</li>
                                <li version="BASE_ORIENT_TRADE_ROUTES">Splendor Trading Posts</li>
                            </ul>
                        </div>
                    </div>
                    <table class="current-sessions-table">
                        <tbody>
                            <tr>
                                <th>Game Version</th>
                                <th>Creator</th>
                                <th>Players</th>
                                <th></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="section-loadgame" class="content">
                <div class="saved-games">
                    <div class="header">
                        <span>Saved Games</span>
                        <div class="game-selection-dropdown">
                            <div class="select">
                                <!-- placeholder to ensure its the same header size as the create session table -->
                                <span class="create-session-btn">Create Session</span>
                            </div>
                        </div>
                    </div>
                    <table class="saved-games-table">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <th>Creator</th>
                                <th>Timestamp</th>
                                <th>Players</th>
                                <th></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>

        <!-- Templates for reusable elements -->
        <template id="available-session-template">
            <tr session-id="" version="">
                <td><div class="session-game-name">Splendor</div></td>
                <td><div class="session-creator-name"></div></td>
                <td><div class="session-players-info"></div></td>
                <td class="session-btns">
                    <div>
                        <span class="del-btn ses-btn">Delete</span>
                        <span class="leave-btn ses-btn">Leave</span>
                        <span class="join-btn ses-btn">Join</span>
                        <span class="launch-btn ses-btn">Launch</span>
                        <span class="play-btn ses-btn">Play</span>
                        <span class="spectate-btn ses-btn">Spectate</span>
                    </div>
                </td>
            </tr>
        </template>

        <template id="load-saved-game-template">
            <tr version="">
                <td><div class="game-name">My Saved Game</div></td>
                <td><div class="game-creator-name"></div></td>
                <td><div class="game-timestamp"></div></td>
                <td><div class="game-players-info"></div></td>
                <td class="saved-game-btns">
                    <div>
                        <span class="del-btn sg-btn">Delete</span>
                        <span class="load-btn sg-btn">Load</span>
                    </div>
                </td>
            </tr>
        </template>

        <script src="../scripts/lobby.js"></script>
        <script src="../scripts/lobby-saves.js"></script>
    </body>
</html>