---
import "../styles/loginstyle.css";
import "../styles/transitions.css";
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Splendor | Login</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    </head>

    <body>
        <!-- Page Transition -->
        <div class="transition transition1 is-active"></div>

        <div class="login-form">
            <form>
                <h1>Splendor</h1>
                <div class="txt-field">
                    <input type="text" name="uname" required>
                    <span></span>
                    <label for="uname"> Username </label>
                </div>
                
                <div class="txt-field">          
                    <input type="password" name="psw" required>
                    <span></span>
                    <label for="psw"> Password </label>
                </div>

                <div class="button-area">
                    <button class="login-button" input type="submit"> Login </button>
                </div>
            </form>
        </div>
        
        <script src="../scripts/login.js"></script>
    </body>
    <style></style>
    
</html>
