/* OTHER PLAYER COAT OF ARMS INDICATOR */
.op-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  max-height: calc(var(--other-player-card-size) + var(--other-player-container-padding) * 2);
}

.op-coa-image-container img {
  height: 2.3em;
  aspect-ratio: 27 / 31;
  width: unset;
}