---
import "../../styles/animation.css";
import CardToSlot from "./CardToSlot.astro";
import DeckToSlot from "./DeckToSlot.astro";
---
<div id="anime-overlay"></div>
<DeckToSlot></DeckToSlot>
<CardToSlot></CardToSlot>