---
import "../styles/lobby.css";
import "../styles/transitions.css";
import { Icon } from "astro-icon";

export interface Props {
    hasAdminButton?: boolean;
    hasHomeButton?: boolean;
}

const { hasAdminButton=false, hasHomeButton=false } = Astro.props;
---
<div class="transition transition1 is-active"></div>
<nav>
    <div class="nav-left">
        {hasAdminButton && <div class="admin-btn">Admin Zone</div>}
        {hasHomeButton && <Icon class="home-btn" name="ic:baseline-house"/>}
    </div>
    <div class="nav-middle">
        <div class="gametitle">Splendor</div>
    </div>
    <div class="nav-right">
        <p id="player-greeting"></p>
        <div class="profile-pic"></div>
        <Icon class="settings-btn" name="ic:baseline-settings"/>
        <Icon name="ic:outline-logout" class="logout-btn"/>
    </div>
</nav>
<script>
    import { transition } from "../scripts/titleScreen.js";
    
    document.addEventListener("DOMContentLoaded", () => {
        // Page Transition to Admin Zone
        document.querySelectorAll(".admin-btn").forEach(elm => {
            elm.addEventListener("click", () => transition("/adminzone/"));
        });
        // Page Transition Back Home from Admin Zone
        document.querySelectorAll(".home-btn").forEach(elm => {
            elm.addEventListener("click", () => transition("/lobby/"));
        });
        // Page Transition to Settings
        document.querySelectorAll(".settings-btn").forEach(elm => {
            elm.addEventListener("click", () => transition("/settings/"));
        });
        // Page Transition to Logout
        document.querySelectorAll(".logout-btn").forEach(elm => {
            elm.addEventListener("click", () => transition("/"));
        });
    });
</script>
