---
import "../../styles/modals.css";
import "../../styles/gameboard.css";
import ModalLayout from "../../layouts/ModalLayout.astro";
---

<ModalLayout id="choose-noble-modal">
    <h1>CHOOSE NOBLE</h1>
    <p>You have been visited by more than one noble! Please choose one.</p>

    <div class="reserve-noble-board">
    </div>
    <div class="button-container">
        <button class="reserve-card-confirm-btn">CONFIRM</button>
    </div>
</ModalLayout>