---
import "../../styles/modals.css";
import "../../styles/gameboard.css";
---

<div id="reserve-noble-modal" class="modal">
    <div class="modal-content">
        <h1>RESERVE NOBLE</h1>
        <p>Please select the noble you wish to reserve.</p>

        <div id="reserve-noble-board" class="reserve-noble-board">
        </div>
        <div class="button-container">
            <button class="reserve-card-confirm-btn">CONFIRM</button>
        </div>
    </div>
</div>