---
import "../../styles/modals.css";
import "../../styles/gameboard.css";
---

<div id="restart-game-modal" class="modal ">
    <div class="modal-content">
        <h1>RESTART</h1>
        <p>Are you sure you want to restart?</p>

        <div class="button-container">
            <button class="restart-no-btn" id="restart-no-btn">NO</button>
            <button class="restart-yes-btn" id="restart-yes-btn">YES</button>
        </div>
    </div>
</div>
<script>
    import { SETTINGS } from "../../scripts/settings.js";
    import { closeDrawer, showPreviousMenu, getSessionId } from "../../scripts/game-navmenu.js";

    const modal = document.querySelector("#restart-game-modal");

    document.querySelector("#restart-game-modal #restart-no-btn").addEventListener("click", () => {
        showPreviousMenu();
    });

    // enable restart yes button (ditto TODO)
    const confirmBtn = (modal.querySelector(".restart-yes-btn") as HTMLButtonElement);
    confirmBtn.addEventListener("click", () => {
        confirmBtn.disabled = true;
        SETTINGS.verifyCredentials().then(() => {
            const url = new URL(`${SETTINGS.getGS_API()}/api/sessions/${getSessionId()}/restart`);
            url.search = new URLSearchParams({"access_token": SETTINGS.getAccessToken()}).toString();

            fetch(url, {
                method: "POST"
            }).then((resp) => {
                if(!resp.ok) {
                    resp.json().then((data) => { window.alert("Error: " + data["error"]); });
                } else {
                    closeDrawer();
                }
                showPreviousMenu();
            }).catch((err) => {
                window.alert("Error: " + err);
            }).finally(() => confirmBtn.disabled = false);
        });
    });
</script>