---
import "../../styles/modals.css";
import "../../styles/gameboard.css";
import ModalLayout from "../../layouts/ModalLayout.astro";
---

<ModalLayout id="restart-game-modal" hasHover={false}>
    <h1>RESTART</h1>
    <p>Are you sure you want to restart?</p>

    <div class="button-container">
        <button class="restart-no-btn" id="restart-no-btn">NO</button>
        <button class="restart-yes-btn" id="restart-yes-btn">YES</button>
    </div>
</ModalLayout>
<script>
    import { SETTINGS } from "../../scripts/settings.js";
    import { closeDrawer, showPreviousMenu, getSessionId } from "../../scripts/game-navmenu.js";
    import { startToastLoad, updateToastLoad } from "../../scripts/notify.js";

    const modal = document.querySelector("#restart-game-modal");

    document.querySelector("#restart-game-modal #restart-no-btn").addEventListener("click", () => {
        showPreviousMenu();
    });

    // enable restart yes button (ditto TODO)
    const confirmBtn = (modal.querySelector(".restart-yes-btn") as HTMLButtonElement);
    confirmBtn.addEventListener("click", () => {
        confirmBtn.disabled = true;

        const notify = startToastLoad("Restarting game...");
        SETTINGS.verifyCredentials().then(() => {
            const url = new URL(`${SETTINGS.getGS_API()}/api/sessions/${getSessionId()}/restart`);
            url.search = new URLSearchParams({"access_token": SETTINGS.getAccessToken()}).toString();

            fetch(url, {
                method: "POST"
            }).then((resp) => {
                if(!resp.ok) {
                    resp.text().then((data) => updateToastLoad(notify, data, "error"));
                } else {
                    updateToastLoad(notify, "Successfully restarted!", "success");
                    closeDrawer();
                }
                showPreviousMenu();
            }).catch((err) => {
                updateToastLoad(notify, err.toString(), "error");
            }).finally(() => confirmBtn.disabled = false);
        }).catch((err) => updateToastLoad(notify, err.toString(), "error"));
    });
</script>