---
import "../../styles/modals.css";
import "../../styles/gameboard.css";
---

<div id="restart-game-modal" class="modal">
    <div class="modal-content">
        <h1>RESTART</h1>
        <p>Are you sure you want to restart?</p>

        <div class="button-container">
            <button class="restart-no-btn" id="restart-no-btn">NO</button>
            <button class="restart-yes-btn" id="restart-yes-btn">YES</button>
        </div>
    </div>
</div>