---
import "../../styles/modals.css";
import "../../styles/gameboard.css";
import ModalLayout from "../../layouts/ModalLayout.astro";
---

<ModalLayout id="take-extra-token-modal">
    <h1>TAKE EXTRA TOKEN</h1>
    <p>Please select an extra token if desired.</p>

    <div class="extra-token-container">
        <div color="Red" class="board-token red-token"></div>
        <div color="Blue" class="board-token blue-token"></div>
        <div color="Green" class="board-token green-token"></div>
        <div color="White" class="board-token white-token"></div>
        <div color="Brown" class="board-token brown-token"></div>
    </div>
    
    <div class="button-container">
        <button class="extra-token-confirm-btn" id="extra-token-confirm-btn">CONFIRM</button>
    </div>
</ModalLayout>

<ModalLayout id="putback-extra-token-modal">
        <h1>PUT BACK TOKEN</h1>
        <p>Please put back a token if desired.</p>

        <div class="extra-token-container">
            <div color="Red" class="board-token red-token"></div>
            <div color="Blue" class="board-token blue-token"></div>
            <div color="Green" class="board-token green-token"></div>
            <div color="White" class="board-token white-token"></div>
            <div color="Brown" class="board-token brown-token"></div>
            <div color="Gold" class="board-token gold-token"></div>
        </div>
        
        <div class="button-container">
            <button class="extra-token-confirm-btn" id="putback-token-back-btn">BACK</button>
            <button class="extra-token-confirm-btn" id="putback-token-confirm-btn">CONFIRM</button>
        </div>
</ModalLayout>