---
import "../../styles/modals.css"
import ModalLayout from "../../layouts/ModalLayout.astro";
---
<ModalLayout id="your-turn-modal">
    <h1>YOUR TURN</h1>
    <p>Choose an action.</p>

    <div class="turn-button-container">
        <button class="get-tokens-btn" id="get-tokens-btn">GET TOKENS</button>
        <button class="purchase-btn" id="purchase-btn">PURCHASE</button>
        <button class="reserve-btn" id="reserve-btn">RESERVE</button>
    </div>
</ModalLayout>

<script src="../../scripts/modals/taketurn.js"></script>