@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image:
    linear-gradient(
      to bottom,
      rgba(0 0 0 / 70%),
      rgba(0 0 0 / 80%),
      rgba(0 0 0 / 80%)
    ),
    url("/images/titleImage.jpg");

  --btn-font-size: 0.8em;
  --btn-margin: 1.5em;
  --bluebackground-img: url("/images/bluebackground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.gametitle {
  font-size: 2.5rem;
  font-family: Judson, serif;
  font-weight: 800;
  margin: 0.8rem;
  letter-spacing: 0.1rem;
  -webkit-text-stroke: 0.03rem rgb(82 55 24);
  background:
    linear-gradient(
      to top,
      rgb(110 81 7),
      rgb(218 165 32),
      rgb(245 204 101)
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 10px black);
}

nav {
  position: sticky;
  display: flex;
  box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
  z-index: 1;
  background: rgba(85, 98, 133, 35%);
}

.nav-left {
  flex: 0 1 40%;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.nav-right {
  flex: 0 1 40%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(227 178 56);
  gap: 1.5rem;
}

.nav-middle {
  flex: 1 20%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-btn, .home-btn {
  margin-left: var(--btn-margin);
}

.admin-btn, 
.session-btns .ses-btn,
.saved-game-btns .sg-btn,
.user-delete-btn {
  padding: 0.8em 1.5em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.05em;
  border-radius: 0.5em;
  border: 0.098rem solid goldenrod;
  background-image: 
    linear-gradient(
      rgba(219, 54, 54, 30%),
      rgba(186, 29, 29, 50%)
    ), 
    var(--bluebackground-img);
  color: goldenrod;
  font-family: Charm, cursive;
  text-shadow: 2px 10px 10px black;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.1rem;
}

.session-btns .ses-btn:hover,
.user-delete-btn:hover,
.user-account-table > tbody > tr > td > button:hover {
  color: rgb(227 178 56);
}

/* Session and Load Save Game Buttons */
.current-sessions-table .del-btn,
.saved-games-table .del-btn,
.user-delete-btn {
  background-image: 
    linear-gradient(
      rgba(219, 54, 54, 60%),
      rgba(186, 29, 29, 50%)
    ), 
    var(--bluebackground-img);
}

.user-delete-btn {
  padding: 0.5em 0.5em;
  color: whitesmoke;
}

.current-sessions-table .join-btn {
  background-image: 
    linear-gradient(
      rgba(148, 196, 255, 60%),
      rgba(51, 116, 196, 50%)
    ), 
    var(--bluebackground-img);
}

.current-sessions-table .launch-btn,
.saved-games-table .load-btn {
  background-image: 
    linear-gradient(
      rgba(80, 200, 120, 60%),
      rgba(22, 120, 55, 50%)
    ), 
    var(--bluebackground-img);
}

.current-sessions-table .leave-btn {
  background-image: 
    linear-gradient(
      rgba(255, 68, 68, 0.6),
      rgba(203, 37, 37, 0.5)
    ), 
    var(--bluebackground-img);
}

.current-sessions-table .play-btn {
  background-image: 
    linear-gradient(
      rgba(94, 37, 155, 60%),
      rgba(48, 15, 82, 0.5)
    ), 
    var(--bluebackground-img);
}

.current-sessions-table .spectate-btn {
  background-image: 
    linear-gradient(
      rgba(241, 161, 39, 0.6),
      rgba(193, 134, 46, 50%)
    ), 
    var(--bluebackground-img);
}

.admin-btn:hover {
  background-image:
    linear-gradient(
      rgba(219, 54, 54, 30%),
      rgba(190, 60, 60, 0.5)
    ), 
    var(--bluebackground-img);
}

#player-greeting {
  font-style: italic;
  font-family: Judson, serif;
  letter-spacing: 0.1em;
}

.profile-pic {
  background: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-size: var(--btn-font-size);
  border-radius: 10px;
  border: 0.098rem solid goldenrod;
  height: 2em;
  width: 2em;
  padding: 0;
  aspect-ratio: 1/1;
}

[astro-icon] {
  height: 2em;
  aspect-ratio: 1 / 1;
  color: rgb(227 178 56);
  cursor: pointer;
}

/* Icon Animations */
[astro-icon="ic:baseline-settings"] {
  transition: all 0.2s ease-out;
}

[astro-icon="ic:baseline-settings"]:hover {
  transform: rotate(25deg);
}

[astro-icon="ic:outline-logout"] {
  margin-right: var(--btn-margin);
  transition: all 0.2s ease-out;
}

[astro-icon="ic:outline-logout"]:hover {
  transform: translate(0.2em);
}

.hidden {
  display: none !important;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

/* Hide and show the sessions/load game */
main[selected="sessions"] #section-loadgame {
  display: none;
}

main[selected="loadgame"] #section-sessions {
  display: none;
}

.select-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.3em;
  font-weight: bold;
}

tr > * {
  text-align: left;
  border-width: 0;
  border-style: none;
}

.select-section > * {
  background: rgba(85, 98, 133, 25%);
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem;
}

.select-section .selected {
  background: rgba(85, 98, 133, 30%);
  color: white;
  box-shadow: 0 -1px 2px 1px rgb(0 0 0 / 25%);
  position: relative;
}

#select-sessions > span, #select-loadgame > span, .header > span {
  font-family: Judson, serif;
  font-size: 1.05em;
  font-weight: 800;
  margin: 0.1rem;
  letter-spacing: 0.1rem;
  -webkit-text-stroke: 0.03rem rgb(82 55 24);
  background:
    linear-gradient(
      to top,
      rgb(110 81 7),
      rgb(218 165 32),
      rgb(245 204 101)
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 10px black);
}

.content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

tr > td > div {
  color: var(--text-color);
  padding: 0.7em var(--padding-lr);
  height: 100%;
  display: flex;
  align-items: center;
}

.content > div {
  margin: 0 5%;
  flex: 1;
}

.header {
  background: rgba(85, 98, 133, 35%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 25%);
  isolation: isolate;
  font-weight: bold;
  font-size: 1.6em;
  padding: 0.4em 0.5em;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  --border-radius: 3px;
  --row-bg-color: #9e9e9e;
  --text-color: white;
  --padding-lr: 0.9em;
}

table tr {
  height: 1px;
}

tbody > tr:first-child {
  background: #d8d8d8;
}

tr > td {
  height: inherit;
}

tbody > tr:not(:first-child) > * {
  padding-top: 0.5em;
}

tr > th {
  padding: 0.5em var(--padding-lr);
}

@-moz-document url-prefix("") {
  /* why firefox */
  tr > td > div {
    height: initial;
  }
}

.notification-icon {
  height: 0.7em;
  width: 0.7em;
  background: #f22626;
  border-radius: 50%;
  filter: blur(1px);
}

/* Available Sessions stuff */
.game-selection-dropdown {
  margin-left: auto;
  margin-right: var(--right-margin);
  box-sizing: border-box;
}

#section-loadgame .game-selection-dropdown {
  visibility: hidden;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-size: 0.72em;
  font-weight: normal;
  padding: 0.6em 2.3em;
  cursor: pointer;
  border-radius: 0.5em;
  border: 0.098rem solid goldenrod;
  background-image: var(--bluebackground-img);
  color: rgb(227 178 56);
  font-family: Charm, cursive;
  text-shadow: 2px 10px 10px black;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
}

.select:hover,
#add-user:hover {
  color: #f2d675;
  border-color: #f2d675;
}

#update-colour:hover,
.reg-user-pass > button:hover,
.reg-user-colour > button:hover,
.user-account-table > tbody > tr > td > button:hover {
  color: #f2d675;
}

.game-selection-dropdown:hover .game-options {
  display: block;
}

.game-selection-dropdown:hover .select .caret {
  transform: rotate(180deg);
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #e3b238;
}

.game-options {
  list-style: none;
  border: 0.098rem solid goldenrod;
  background-image: var(--bluebackground-img);
  position: absolute;
  border-radius: 0.5em;
  box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.2);
  display: none;
}

.game-options li {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 0.7em;
  font-family: Judson, serif;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0.09rem;
  color: rgb(227 178 56);
  cursor: pointer;
}

.game-options li:hover {
  background:
  linear-gradient(
    to top,
    rgb(110 81 7),
    rgb(218 165 32),
    rgb(245 204 101)
  );
  color: black;
  transition: 0.3s;
}

.current-sessions-table, .saved-games-table {
  --even-bg-color: rgba(98, 108, 135, 45%);
  --odd-bg-color: rgba(98, 108, 135, 30%);
  --right-margin: 1rem;
}

.current-sessions-table tr > td > div,
.saved-games-table tr > td > div {
  color: whitesmoke;
  font-family: Judson, serif;
  font-size: 1.1em;
  letter-spacing: 0.03em;
}

.current-sessions-table tbody > tr,
.saved-games-table tbody > tr {
  background: rgba(71, 82, 110, 0.3);
  color: #e3b238;
  font-family: Charm, cursive;
  font-weight: normal;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}

.current-sessions-table tbody > tr:not(:first-child) > *,
.saved-games-table tbody > tr:not(:first-child) > * {
  padding-top: 0;
}

.current-sessions-table tr:nth-child(odd) td,
.saved-games-table tr:nth-child(odd) td {
  background: var(--odd-bg-color);
}

.current-sessions-table tr:nth-child(even) td,
.saved-games-table tr:nth-child(even) td {
  background: var(--even-bg-color);
}

.current-sessions-table tr td.session-btns,
.saved-games-table tr td.saved-game-btns {
  padding: 0.6em 0;
  width: 1%; /* no idea why it works */
}

.current-sessions-table .session-btns > div,
.saved-games-table .saved-game-btns > div {
  gap: var(--right-margin);
  justify-content: flex-end;
}

.current-sessions-table .ses-btn,
.saved-games-table .sg-btn {
  float: right;
  color: white;
  border-radius: 6px;
  padding: 0.6em 1.5em;
  cursor: pointer;
  display: none;
}

.saved-games-table .saved-game-btns .sg-btn {
  display: block;
}

/* Disable delete button in game saves if not creator */
.saved-games-table tr:not([created]) .del-btn {
  display: none;
}

/* Disable if cannot join */
.current-sessions-table tr:not([full], [joined], [started]) .join-btn,
.saved-games-table tr:not([full], [joined], [started]) .join-btn {
  display: block;
}

/* Disable if not enough players or not creator */
.current-sessions-table tr:is([launchable][created]) .launch-btn,
.saved-games-table tr:is([launchable][created]) .launch-btn {
  display: block;
}

/* Disable if creator */
.current-sessions-table tr:not([created], [started]):is([joined]) .leave-btn,
.saved-games-table tr:not([created], [started]):is([joined]) .leave-btn {
  display: block;
}

/* Enable if creator or admin/service */
.is-admin .current-sessions-table tr .del-btn,
.is-admin .saved-games-table tr .del-btn,
.is-service .current-sessions-table tr .del-btn,
.is-service .saved-games-table tr .del-btn,
.current-sessions-table tr:not([started]):is([created]) .del-btn,
.saved-games-table tr:not([started]):is([created]) .del-btn {
  display: block;
}

/* Add play button to join a launched session */
.current-sessions-table tr:is([started][joined]) .play-btn,
.saved-games-table tr:is([started][joined]) .play-btn {
  display: block;
}

/* Add spectate button to a launched session that you aren't in */
.current-sessions-table tr:is([started]):not([joined]) .spectate-btn,
.saved-games-table tr:is([started]):not([joined]) .spectate-btn {
  display: block;
}

.admin-btn {
  display: none;
}

.is-admin .admin-btn {
  display: block;
}

/* Disable buttons if you have service role */
.is-service .saved-games-table tr .load-btn,
.is-service .current-sessions-table tr .play-btn,
.is-service .saved-games-table tr .play-btn,
.is-service .current-sessions-table tr .join-btn,
.is-service .saved-games-table tr .join-btn {
  display: none;
}

.is-service .game-selection-dropdown {
  visibility: hidden;
  pointer-events: none;
}
