* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  --btn-font-size: 0.8em;
  --btn-margin: 1em;
}

.gametitle {
  font-family: montserrat, serif;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0.8rem;
}

nav {
  position: sticky;
  display: flex;
  background: #d8d8d8;
  box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
  z-index: 1;
}

.nav-left {
  flex: 0 1 40%;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.nav-right {
  flex: 0 1 40%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.nav-middle {
  flex: 1 20%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-btn {
  background: #ff7e7e;
  color: white;
  font-size: var(--btn-font-size);
  margin-left: var(--btn-margin);
  border-radius: 10px;
  padding: 0.8em 1.2em;
  cursor: pointer;
}

.logout-btn {
  background: #82bbff;
  color: white;
  font-size: var(--btn-font-size);
  margin-right: var(--btn-margin);
  border-radius: 10px;
  padding: 0.8em 1.2em;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

/* Hide and show the sessions/load game */
main[selected="sessions"] #section-loadgame {
  display: none;
}

main[selected="loadgame"] #section-sessions {
  display: none;
}

.select-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
}

tr > * {
  text-align: left;
  border-width: 0;
  border-style: none;
}

.select-section > * {
  background-color: #d8d8d8;
  flex: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem;
}

.select-section .selected {
  background-color: #cdcdcd;
  box-shadow: 0 -1px 2px 1px rgb(0 0 0 / 25%);
  position: relative;
}

.content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

tr > td > div {
  color: var(--text-color);
  padding: 0.7em var(--padding-lr);
  height: 100%;
  display: flex;
  align-items: center;
}

.content > div {
  margin: 0 5%;
  flex: 1;
}

.header {
  background: #d8d8d8;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 25%);
  isolation: isolate;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.4em 0.5em;
  display: flex;
  align-items: center;
}

table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  --border-radius: 3px;
  --row-bg-color: #9e9e9e;
  --text-color: white;
  --padding-lr: 0.9em;
}

table tr {
  height: 1px;
}

tbody > tr:first-child {
  background: #d8d8d8;
}

tr > td {
  height: inherit;
}

tbody > tr:not(:first-child) > * {
  padding-top: 0.5em;
}

tr > th {
  padding: 0.5em var(--padding-lr);
}

@-moz-document url-prefix("") {
  /* why firefox */
  tr > td > div {
    height: initial;
  }
}

/* First col */
.row-start {
  background: var(--row-bg-color);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

/* Other cols */
.row-cell {
  background: var(--row-bg-color);
}

/* Last col */
.row-end {
  background: var(--row-bg-color);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.loadjoin-btn {
  background: #6dd28f;
  justify-content: center;
  margin: 0 0.5em 0 1em;
  border-radius: var(--border-radius);
}

.loadjoin-btn:hover {
  cursor: pointer;
}

.delete-btn {
  background: #ff7e7e;
  justify-content: center;
  margin: 0 1em 0 0.5em;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.notification-icon {
  height: 0.7em;
  width: 0.7em;
  background: #f22626;
  border-radius: 50%;
  filter: blur(1px);
}

/* Availabe Sessions stuff */
.create-session-btn {
  margin-left: auto;
  background-color: #82bbff;
  margin-right: var(--right-margin);
  border-radius: 5px;
  color: white;
  font-size: 0.7em;
  font-weight: normal;
  padding: 0.6em 1em;
  cursor: pointer;
}

.current-sessions-table {
  --even-bg-color: #f3f3f3;
  --odd-bg-color: #e9e9e9;
  --right-margin: 1rem;
}

.current-sessions-table tr > td > div {
  color: black;
}

.current-sessions-table tbody > tr:not(:first-child) > * {
  padding-top: 0;
}

.current-sessions-table tr:nth-child(odd) td {
  background: var(--odd-bg-color);
}

.current-sessions-table tr:nth-child(even) td {
  background: var(--even-bg-color);
}

.current-sessions-table tr td.session-btns {
  padding: 0.6em 0;
  width: 1%; /* no idea why it works */
}

.current-sessions-table .session-btns > div {
  gap: var(--right-margin);
  justify-content: flex-end;
}

.current-sessions-table .ses-btn {
  float: right;
  color: white;
  border-radius: 6px;
  padding: 0.6em 1.5em;
  cursor: pointer;
  display: none;
}

.current-sessions-table .empty-btn {
  display: block;
  visibility: hidden;
}

.current-sessions-table .join-btn {
  background: #82bbff;
}

/* Disable if cannot join */
.current-sessions-table tr:not([full], [joined]) .join-btn {
  display: block;
}

.current-sessions-table .launch-btn {
  background: #50c878;
}

.current-sessions-table .play-btn {
  background: #5e259b;
}

/* Disable if not enough players or not creator */
.current-sessions-table tr:is([launchable][created]) .launch-btn {
  display: block;
}

.current-sessions-table .leave-btn {
  background: #fe4a49;
}

/* Disable if creator */
.current-sessions-table tr:not([created]):is([joined]) .leave-btn {
  display: block;
}

.current-sessions-table .del-btn {
  background: #fe4a49;
}

/* Disable if creator */
.current-sessions-table tr[created] .del-btn {
  display: block;
}
