@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:
    linear-gradient(
      rgba(0 0 0 / 65%),
      rgba(0 0 0 / 65%)
    ),
    url("/images/titleImage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
}

.login-form {
  background:
    linear-gradient(
      to top,
      rgb(0 2 6),
      rgb(11 19 33),
      rgb(35 52 84)
    );
  margin: auto;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid goldenrod;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px black;
}

.login-form h1 {
  font-size: 4.7rem;
  font-family: Judson, serif;
  text-align: center;
  padding-bottom: 5%;
  letter-spacing: 0.1rem;
  -webkit-text-stroke: 0.03rem rgb(82 55 24);
  background:
    linear-gradient(
      to top,
      rgb(110 81 7),
      rgb(218 165 32),
      rgb(245 204 101)
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 10px black);
}

.login-form form {
  padding: 10%;
  box-sizing: border-box;
}

form .txt-field {
  font-family: Judson, serif;
  font-size: 1.1em;
  position: relative;
  border-bottom: 0.095rem solid grey;
  margin: 1.5rem 0;
  padding-top: 10%;
}

.txt-field input {
  width: 100%;
  height: 5vh;
  font-size: 1em;
  font-family: Judson, serif;
  color: #b1bbc6;
  background: none;
  border: none;
  outline: none;
  letter-spacing: 0.05rem;
}

.txt-field label {
  position: absolute;
  top: 60%;
  left: 0;
  color: grey;
  transform: translateY(-50%);
  font-size: 1.1em;
  pointer-events: none;
  transition: 0.5s;
  letter-spacing: 0.05rem;
  font-weight: 500;
}

.txt-field span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 0.095rem;
  background-color: goldenrod;
  transition: 0.5s;
}

.txt-field input:focus ~ label,
.txt-field input:valid ~ label {
  top: -2%;
  color: goldenrod;
}

.txt-field input:focus ~ span::before,
.txt-field input:valid ~ span::before {
  width: 100%;
}

.button-area {
  padding: 15%;
  display: flex;
  justify-content: center;
}

.login-button {
  padding: 5% 20%;
  border: 0.098rem solid goldenrod;
  border-radius: 20%;
  background-image: url("/images/bluebackground.jpg");
  font-size: 1.5rem;
  color: #e3b238;
  font-family: Charm, cursive;
  text-shadow: 2px 10px 10px black;
  letter-spacing: 0.1em;
}

.login-button:hover {
  color: #f2d675;
  border-color: #f2d675;
  cursor: pointer;
}
